<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="R2_Simu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="IWSR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <R2_Simu.Properties.Settings>
            <setting name="ThemeId" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="l1" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="l2" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="d1" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="d2" serializeAs="String">
                <value>-100</value>
            </setting>
        </R2_Simu.Properties.Settings>
        <IWSR.Properties.Settings>
            <setting name="ThemeId" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="rle" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="fle" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="cle" serializeAs="String">
                <value>16</value>
            </setting>
        </IWSR.Properties.Settings>
    </userSettings>
</configuration>